/* BASE */
$white: #ffffff;
$border-light: #e5e7eb;

/* TEXT */
$text-primary: #022c22;
$text-secondary: #0f172a;
$text-muted: #14532d;
$text-muted-strong: #166534;
$text-placeholder: #475569;

/* GREEN (PIX) */
$green-300: #bbf7d0;
$green-400: #dcfce7;
$green-500: #22c55e;
$green-600: #16a34a;

/* BACKGROUNDS */
$bg-soft: #ecfdf5;

/* ERROR */
$error: #dc2626;

/* OVERLAY */
$overlay-dark-green: rgba(2, 44, 34, 0.55);
